.window {
    position: absolute;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    top: 500px;
    left: 500px;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background-color: #f0f0f0;
    border: 0px solid #cfcfcf;
    background-image: linear-gradient(135deg, #ffffff 0%, #d0d0d0 40%, #909090 100%);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.window-header {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: inherit;
    color: white;
    height: 30px;
    padding: 5px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none; /* Added to prevent text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

.window-content {
    padding: 10px 15px;
    height: calc(100% - 60px); /* Adjusted to account for header height */
    overflow-y: auto; /* Allows scrolling if content overflows */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.window-content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.window-controls { /* Added new style block */
    display: flex;
    gap: 5px; /* Adds a small space between buttons */
}

.window-button {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20%; /* Adjusted to make buttons more circular */
  border: 1px solid transparent;
  width: 20px; /* Set a fixed width */
  height: 20px; /* Set a fixed height */
  font-size: 0.8em; /* Adjust font size if there's text */
  font-weight: 500;
  font-family: inherit;
  background-color: #b0b0b0;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex; /* Add this */
  align-items: center; /* Add this */
  justify-content: center; /* Add this */
  padding: 0; /* Add this to remove default button padding */
  line-height: 1; /* Add this for tighter text centering */
  user-select: none;
}

/* Specific styles for close, minimize, maximize buttons */
.close {background-color: #dd3333be;}
.close:hover {border-color: #993333be;} /* Change border color on hover */
.close:active {
    background-color: #993333be;
    border-color: #00000000;
    box-shadow: 0px 0px 8px rgba(100, 0, 0, 0.6);
} /* Change background color on active */

.maximize {background-color: #18c733be;}
.maximize:hover {border-color: #189733be;} /* Change border color on hover */
.maximize:active {
    background-color: #189733be;
    border-color: #00000000;
    box-shadow: 0px 0px 8px rgba(0, 100, 0, 0.6);
} /* Change background color on active */

.resize{
    background-color: rgba(0,0,0,0);
    position: absolute;
}

.resize-right {
    width: 5px;
    height: calc(100% - 10px);
    top: 5px;
    right: 0;
    cursor: ew-resize; /* Cursor for resizing */
}

.resize-left {
    width: 5px;
    height: calc(100% - 10px);
    top: 5px;
    left: 0;
    cursor: ew-resize; /* Cursor for resizing */
}

.resize-bottom {
    width: calc(100% - 10px);
    height: 5px;
    bottom: 0;
    left: 5px;
    cursor: ns-resize; /* Cursor for resizing */
}

.resize-top {
    width: calc(100% - 10px);
    height: 5px;
    top: 0;
    left: 5px;
    cursor: ns-resize; /* Cursor for resizing */
}

.resize-bottom-right {
    width: 5px;
    height: 5px;
    bottom: 0;
    right: 0;
    cursor: nwse-resize; /* Cursor for resizing */
}

.resize-bottom-left {
    width: 5px;
    height: 5px;
    bottom: 0;
    left: 0;
    cursor: nesw-resize; /* Cursor for resizing */
}

.resize-top-right {
    width: 5px;
    height: 5px;
    top: 0;
    right: 0;
    cursor: nesw-resize; /* Cursor for resizing */
}

.resize-top-left {
    width: 5px;
    height: 5px;
    top: 0;
    left: 0;
    cursor: nwse-resize; /* Cursor for resizing */
}