.other-main-container {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.warning-page{
    width: 100%;
    height: 100%;
    top: 40px;
    overflow-y: hidden;
    position: absolute;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.warning-title {
    font-size: 4rem;
    font-weight: bold;
    color: rgb(112, 0, 0);
    text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
    text-decoration: underline;
    text-decoration-color: rgb(134, 0, 0);
    transition: text-decoration-color 0.3s ease,
                color 0.3s ease,
                text-shadow 0.3s ease,
                transform 0.3s ease;
    z-index: 0;
}

.warning-title:hover {
    text-decoration-color: rgb(255, 0, 0);
    color: rgb(150, 0, 0);
    text-shadow: 0px 0px 15px rgba(255, 0, 0, 0.7);
    transform: scale(1.05);
}

.warning-text {
    color: #aaaaaaaa;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
    font-size: 1.5rem;
}

.warning-button{
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #960000;
    color: #490000;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(153, 0, 0, 0.5);
    text-shadow: 0px 0px 5px rgba(136, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease ,
                color 0.3s ease,
                box-shadow 0.3s ease,
                transform 0.3s ease;
}

.warning-button:hover {
    background-color: #b30000;
    color: #640000;
    box-shadow: 0px 0px 30px rgba(82, 0, 0, 0.7);
    transform: scale(1.05);
}

.other-content{
    padding-top: 5px;
    top: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    white-space: normal; /* Ensure text wraps */
    overflow-wrap: break-word; /* Break long words if needed */
    word-break: break-word; /* Extra support for word breaking */
    overflow-y: hidden;
    container-type: inline-size;
}

.other-header{
    position: sticky;
    top: 5px;
    width: 90%;
    border-radius: 10px;
    height: 125px;
    background-color: #77000090;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), inset 0 0 0 4px #00000020;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    transition: box-shadow 0.3s ease ,
                transform 0.3s ease ,
                background-color 0.3s ease;
}

.other-header:hover {
    box-shadow: 0px 0px 15px rgba(52, 0, 0, 0.7), inset 0 0 0 4px #44000030;
    background-color: #ff191954;
    transform: scale(1.02);
}

.other-header-text{
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    width: 40%;
    text-align: center;
    font-size: clamp(1.4rem, 5cqw, 3rem);
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    min-width: 0;
    transition: text-decoration-color 0.3s ease,
                text-shadow 0.3s ease,
                transform 0.3s ease;
}

.other-header-text:hover {
    text-decoration-color: #ffffff;
    text-shadow: 0px 0px 15px rgba(247, 73, 73, 0.7);
    transform: scale(1.05);
}

/* New style for the row container */
.other-subcontainer-row {
    display: flex;
    flex-direction: row;
    width: 90%; /* Match the width of other subcontainers */
    gap: 20px; /* Space between the items in the row */
    align-items: stretch; /* Makes all items in the row the same height */
}

#other-subcontainer-1 { 
    width: 40%; 
    background-color: #550000;
}

#other-subcontainer-2 { 
    width: 40%; 
    background-color: #330000;
}

#other-subcontainer-3 { 
    width: 20%; 
    justify-content: center;
    align-items: center;
    background-color: #110000;
}

#other-subcontainer-4 { 
    width: 100%; 
    background: linear-gradient(90deg, #110000 10%, #000000 50%, #110000 90%);
}

#other-subcontainer-5 { 
    width: 20%; 
    justify-content: center;
    align-items: center;
    background-color: #110000;
}

#other-subcontainer-6 {
    width: 40%; 
    background-color: #330000;
}

#other-subcontainer-7 { 
    width: 40%; 
    background-color: #550000;
}

.other-subcontainer{
    width: 100%;
    opacity: 0.6;
    height: auto;
    min-height: 300px;
    background-color: #00000049;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px 0px;
    padding: 20px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
    font-size: 1.5rem;
    container-type: inline-size;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), inset 0 0 0 4px #00000020;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

.other-subcontainer:hover {
    opacity: 0.75;
    transform: scale(1.02);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7), inset 0 0 0 4px #00000030;
}

.other-subcontainer-title {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    width: 50%;
    text-align: center;
    font-size: 1.7rem;
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    flex-grow: 1;
    min-width: 0;
    transition: text-decoration-color 0.3s ease,
                text-shadow 0.3s ease,
                transform 0.3s ease;
}

.title-big{
    font-size: 2.5rem;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
}

.other-subcontainer-title:hover {
    text-decoration-color: #ffffff;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
    transform: scale(1.05);
}

.other-subcontainer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 200px;
    gap: 10px;
    box-sizing: border-box;
    color: #ffffffaa;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
}

.other-subcontainer-text {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    color: #ffffffaa;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    line-height: 1.5;
    flex-grow: 1;
    min-width: 0;
}

.other-subcontainer-img-container{
    width: 20%;
    min-width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    flex-shrink: 0;
    transition: transform 0.5s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Good practice to hide any overflow */
}

#bass-img-container{
    aspect-ratio: 1 / 2;
}

.head-img{
    width: 90%;
    max-width: 90%;
    aspect-ratio: 1 / 1;
}

.other-subcontainer-img-container:hover{
    transform: rotate(2deg) scale(1.07);
}

.other-subcontainer-img{
    width: auto;
    height: 100%;
    align-self: center;
    background-color: #00000000; /* Semi-transparent white */
}

.other-image-stream .other-subcontainer-img {
    width: 100%;
    object-fit: cover; /* This is the key property */
}

.other-image-stream{
    width: calc(100% + 40px);
    height: 150px;
    overflow: hidden;
    position: relative;
    flex-direction: row;
    padding-bottom: 10px;
    background-color: #ffffff00;
}

.other-image-stream-img{
    width: 150px;
    aspect-ratio: 1 / 1;
    position: absolute;
    background-color: #000000;
    border-radius: 8px;
    margin: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

@container (max-width: 900px) {
    #other-subcontainer-1 { width: 50%; }

    #other-subcontainer-2 { width: 50%; }

    #other-subcontainer-3 { display: none; }

    #other-subcontainer-5 { display: none; }

    #other-subcontainer-6 { width: 50%; }

    #other-subcontainer-7 { width: 50%; }
}

@container (max-width: 600px) {
    .other-subcontainer-row {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
        width: 90%; /* Full width for smaller screens */
    }

    #other-subcontainer-1, 
    #other-subcontainer-2, 
    #other-subcontainer-3, 
    #other-subcontainer-5, 
    #other-subcontainer-6, 
    #other-subcontainer-7 {
        width: 100%; /* Full width for each subcontainer */
    }

    .title-big{
        margin-bottom: 40px;
    }
}