.skills-main-container {
    width: 100%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.subcontainer{
    width: 100%;
    height: auto;
    min-height: 200px;
    margin-bottom: 20px;
    background-color: #00000090;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 40px; /* Adjusted gap for better spacing */
    margin-top:5px;
    padding: 20px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
    font-size: 1.5rem;
    container-type: inline-size;
}

.subcontainer:hover {
    background-color: #00000095;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}

/* New classes for the alternating effect */
.from-left {
    margin-left: -5%; /* Pull the container into the left padding */
    padding-left: 5%; /* Add padding to keep content aligned */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    justify-content: flex-end; /* Align content to the left */
}

.from-right {
    margin-right: -5%; /* Pull the container into the right padding */
    padding-right: 5%; /* Add padding to keep content aligned */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    justify-content: flex-start;
}

.image-container {
    width: 20%;
    min-width: 150px;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    background-color: #ffffff20; /* Semi-transparent white */
    border: 2px solid #ffffff40; /* Lighter border */
    flex-shrink: 0;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    overflow: hidden; /* Add this line to clip the child image */
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.image-container:hover{
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.subcontainer-title-skills{
    margin-top: -20px;
    transition: text-shadow 0.5s ease transform 0.5s ease;
}

.skill-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}

.skills-subcontainer{
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.skills-subcontainer:hover {
    box-shadow: 0px 0px 8px var(--skill-color, rgba(255, 255, 255, 0.7));
    transform: scale(1.02);
}

.skills-subcontainer:hover .image-container {
    box-shadow: 0px 0px 15px var(--skill-color, rgba(255, 255, 255, 0.3));
    border: 2px solid var(--skill-color, rgba(255, 255, 255, 0.3));
    background-color: var(--skill-color, rgba(255, 255, 255, 0.1));
}

.skills-subcontainer:hover .skill-image {
    filter: grayscale(0%);
}

/* When hovering over the subcontainer, apply a colored text shadow to the title */
.skills-subcontainer:hover .subcontainer-title-skills {
    text-shadow: 0px 0px 14px var(--skill-color, rgba(255, 255, 255, 0.7));
}
